<a href="https://colab.research.google.com/github/skc46/Magnetic_material_science_research_related/blob/master/Convert%20emu%20per%20gm%20into%20Bohr%20magneton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Converting emu/gm into $\mu_B/f.u.$

Based on the constituent elements and the their atomic fraction in the formual unit, this notebook helps converting experimentally measured emu/gm into $\mu_B/f.u.$. 

The basic idea can be explained as follows;

Measured magnetization: $M (in\ emu/gm)$

Molecular weight: $mol-Wt (in\ gm)$

Bohr magneton: $\mu_B = 9.274 \times 10^{-24} J/T$

Avogadro constant: $ N_A = 6.022 \times 10^{23} mol^{-1}$

Conversion factor: $ 1 emu = 10^{-3} J/T$

Magnetic moment per formula unit (i.e., $\mu_B/f.u.$) in Bohr magnetons; $$ \mu_{f.u.}(\mu_B) = \frac{M \times mol-Wt.}{9.274 \times 10^{-24} \times 6.022 \times 10^{23}} \times 10^{-3} $$

Hence we need to find the molecular weight that depends on the type of alloy and its constitutent elements. To get that we can use the same idea as in `bulk_sample_wt_cal` notebook, where we first select the desired elements (these can be given by keyboard inputs).

***Getting data:*** We use the periodic table from Github page uploaded by Goodman Sciences [[link]](https://gist.github.com/GoodmanSciences/c2dd862cd38f21b0ad36b8f96b4bf1ee/). We direclty import the data and read this as pandas dataframe.

In [1]:
path = "https://gist.github.com/GoodmanSciences/c2dd862cd38f21b0ad36b8f96b4bf1ee/raw/1d92663004489a5b6926e944c1b3d9ec5c40900e/Periodic%2520Table%2520of%2520Elements.csv"
import pandas as pd
df = pd.read_csv(path)
df.head()

   AtomicNumber    Element  ... NumberofShells  NumberofValence
0             1   Hydrogen  ...              1              1.0
1             2     Helium  ...              1              NaN
2             3    Lithium  ...              2              1.0
3             4  Beryllium  ...              2              2.0
4             5      Boron  ...              2              3.0

[5 rows x 28 columns]

When entering the symbols of elements, it is a good idea to make it case-insensitive. So, we create a column, where we store the elements symbol in all uppercase.

In [2]:
df["Symbol_upper"] = df["Symbol"].str.upper()

The cell below takes the elements name and their respective atomic fractions as keyboard inputs. There is no limit on the number of elements, but to break the process, it is required to enter 0. An example of Co$_2$FeGe is shown.

In [4]:
dic1 = {}       #create a dictionary with desired elements
tot_weight = 0
while True:
      element_ = input("Enter the name of element, enter 0 to break:").upper()
      if str(element_) == "0":
          break
      fraction_ = float(input("Enter the atomic fraction of the element:"))
      dic1[element_] = df.loc[df["Symbol_upper"]==element_,"AtomicMass"].item()*fraction_   # atomic wt. of element scaled by their atomic fraction in the alloy
      tot_weight = tot_weight + (dic1[element_]) # calculate total weight for the alloy

Enter the name of element, enter 0 to break:co
Enter the atomic fraction of the element:2
Enter the name of element, enter 0 to break:fe
Enter the atomic fraction of the element:1.5
Enter the name of element, enter 0 to break:si
Enter the atomic fraction of the element:0.5
Enter the name of element, enter 0 to break:0

Running the cell below, prompts an input field to enter the emu/gm and outputs $\mu_B/f.u.$. Just to check for consistency, three differenet methods are utilized.

In [5]:
emu_per_gram = float(input("Enter emuper_gram:"))              #exp_emu/samplewt
mu_B = ((emu_per_gram*tot_weight)*1e21)/(9.274*6.022*1e23)
print("The magnetization of given alloy is {}".format(mu_B), u'\u03bc_B/f.u.')

Enter emuper_gram:197.412
The magnetization of given alloy is 7.623748007360261 μ_B/f.u.